[Unit]
Description=Rclone gdrive Live Sync via Inotify
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=kevin
ExecStart=/usr/bin/bash /usr/local/bin/gdrive-live-sync.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
