[Unit]
Description=Btrfs Snapshot Backup to Google Drive
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh /usr/local/bin/upload_snapshots.sh
User=root
