[Unit]
Description=Weekly system update trigger

[Service]
Type=oneshot
User=kevin
Group=1001
# Umgebungsvariable für grafische Benachrichtigungen nötig
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/kevin/.Xauthority

ExecStart=/usr/bin/notify-send -t 5000 "system update" "wöchentliches update initiiert..." --icon=system-software-update --urgency=normal [cite: 12]
# Pfad auf globale Location geändert:
ExecStartPost=/usr/bin/konsole -e /usr/local/bin/system-update.sh [cite: 12]
